<nav class="navbar navbar-default navbar-expand" style="background-color: #ffffff;box-shadow: 0 0 4px 0 rgba(0,0,0,.08),0 2px 4px 0 rgba(0,0,0,.12);">
    <div class="container">
        <a class="navbar-brand" style="color:crimson;font-weight: bold;font-family: 'Lobster', cursive;" href="/">JCOMMERCE</a>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a href="#" class="nav-link">Help?</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Account</a></li>
            <li class="nav-item"><a href="/checkout" class="nav-link">{{ cart_no }} item(s)</a></li>
        </ul>
    </div>
</nav>